* {
    margin:0;
}

#conteudo{
    width:800px;
    height:1000px ;
    background-color: rgb(255, 255, 255);
    margin :0    auto;
}
#cabecalho{
 width:800px;
 height:300px;
 background-color: rgb(255, 255, 255);
 display:flex;


}
#destaques{
    background-color: brown;
    width:800px;
    height:90px;

}
#feed{
    width:800px;
    height:1000px;
    background-color: blueviolet;

}
#fotodeperfil{
    width:300px;
    height:300px;

    align-items:center;
    justify-content: center;
    display:flex;
    
}
#textodeperfil {
    width:500px;
    height:300px;
    background-color: rgb(255, 255, 255);
    padding:20px 50px;
    box-sizing: border-box;

}

#textodeperfil div {
    background-color: red;
    display:flex;
    justify-content:center ;
}
.web{
    background-color: rgb(255, 255, 255);
    height:60px;
    border-bottom:solid;
    border-color: rgb(179, 179, 179);
    border-width: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.entrar{
    color:white;
    background-color: rgba(0,0,255,0.568);
    
    right:150px;
    top:15px;
    border-radius: 8px;
    border:none;
    padding:8px;
}
.cadastrar{
    color: rgba(0, 0, 255, 0.568);
    
    right: 35px;
    top: 15px;
    border:none;
    border-radius: 8px;
    padding:7px;
}
#perfil{
    width: 200px;
    height: 200px;  
    border-radius: 100%;
    
    
    
}
.textinho{
    
    top: 150px;
    right:400px;
}
h2{
    top:50px;
    right:600px;}

.seguidores{
    top:100px;
    right:600px;
font-weight:bold;}

.seguindo{
    
    top:100px;
    right:450px
}
.juntinhos{
    margin:0;
}
#pill{
    background-color: rgba(156, 156, 156, 0.568);
    border-radius:10px;
    padding:auto;
    width:105px;
    margin:auto;
}
a{
    color:rgb(12, 12, 12); 
    text-decoration: none;
}
#pill img{ vertical-align:middle ;}

#essenao{
    margin:15px 0;
}
.foto {display:flex;
    width:10px;
}
#icon{
    height:12px;
    width:12px;
    display:inline-block;
    background-size: 12px;
    background-image: url("iconsem.png");
}